Excel.xlsx
INFORMEbuild/
INFORME/informe.aux
INFORME/informe.log
INFORME/informe.pdf
INFORME/informe.synctex.gz
INFORME/informe.out
INFORME/informe.fls
INFORME/informe.fdb_latexmk
INFORME/informe.bbl
INFORME/informe.blg
INFORME/intro.aux
INFORME/resul.aux
